@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'),
      url('../fonts/Merriweather-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'),
      url('../fonts/GolosText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'),
      url('../fonts/GolosText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'),
      url('../fonts/Merriweather-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: 'Merriweather', serif;
}

.container {
  padding: 0 77px;
}

.header {
  min-height: 700px;
  background: url(../img/header-bg.png) center / cover no-repeat;
  padding: 26px 0 132px 72px;
}

.header__logo {
  width: 245px;
  height: 36px;
  margin-bottom: 62px;
}

.header__title {
  max-width: 542px;
  color: rgb(49, 49, 49);
  font-size: 60px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.header__capital {
  margin-left: 91px;
}

.header__ball {
  margin-left: 33px;
}

.header__text {
  max-width: 542px;
  text-align: center;
  font-family: 'Golos Text', sans-serif;
  color: rgb(49, 49, 49);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
}

.header__btn {
  display: inline-block;
  width: 263px;
  height: 72px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 66px;
  background: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  font-family: 'Golos Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}

.header__btn--black {
  margin-right: 16px;
}

.header__btn--black:hover {
  background: rgb(251, 206, 81);
  color: rgb(31, 31, 31);
}

.header__btn--inherit {
  background-color: inherit;
  outline: 2px solid rgb(31, 31, 31);
  color: rgb(31, 31, 31);
}

.header__btn--inherit:hover {
  background: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
}

.rows {
  min-height: 60px;
  margin-top: -60px;
  background-color: rgb(245, 73, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rows__list {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.rows__item {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin-right: 30px;
  position: relative;
}

.rows__item::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  top: 10px;
  left: -19px;
}

.support {
  min-height: 366px;
}

.support__blocks {
  padding-top: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.support__text {
  width: 764px;
}

.support__title {
  max-width: 764px;
  font-size: 36px;
  font-weight: 700;
  line-height: 135%;
  text-align: left;
  text-transform: uppercase;
}

.support__idea {
  color: rgb(245, 73, 50);
}

.support__img {
  width: 394px;
  height: 250px;
  background-image: url(../img/players.png);
  background-repeat: no-repeat;
}

.support__line {
  width: 389px;
  height: 2px;
  background-color: rgb(208, 208, 208);
}

.mobile {
  display: none;
}

.tournament {
  min-height: 755px;
  padding-top: 28px;
  padding-bottom: 200px;
}

.tournament__wrapper {
  display: flex;
}

.tournament__img {
  width: 474px;
  margin-right: 44px;
  position: relative;
}

.tournament__star1 {
  position: absolute;
  top: -28px;
  left: -20px;
}










@media (min-width: 1920px) {
  .header {
    padding-left: 348.5px;
  }
}

@media (max-width: 375px) {
  .container {
    padding: 0 20px;
  }

  .header {
    min-height: 812px;
    background: url(../img/header-bg-mobile.png) 75% / cover no-repeat;
    padding: 18px 20px 0;
  }

  .header__logo {
    width: 213px;
    height: 32px;
    margin-bottom: 40px;
  }

  .header__title {
    max-width: 335px;
    color: rgb(49, 49, 49);
    font-size: 36px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: left;
  }

  .header__capital {
    margin-left: 63.25px;
  }
  
  .header__ball {
    margin-left: 29px;
  }

  .header__text {
    max-width: 542px;
    text-align: left;
    font-family: 'Golos Text', sans-serif;
    color: rgb(49, 49, 49);
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 32px;
  }

  .buttons {
    flex-direction: column;
  }

  .header__btn {
    width: 335px;
    height: 35px;
    display: inline;
    padding-top: 12px;
  }
  
  .header__btn--black {
    margin-bottom: 14px;
  }

  .header__btn--inherit {
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: rgb(31, 31, 31);
    outline: none;
  }

  .rows {
    min-height: 38px;
    margin-top: -38px;
  }

  .rows__list {
    animation: marquee 35s linear infinite;
  }

  .rows__item {
    font-size: 16px;
  }

  .rows__item::after {
    top: 5px;
    left: -19px;
  }

  .support {
    display: none;
  }

  .mobile {
    display: block;
    min-height: 634px;
    padding-top: 48px;
    padding-bottom: 21px;
  }

  .mobile__title1 {
    max-width: 335px;
    color: rgb(49, 49, 49);
    font-size: 28px;
    font-weight: 400;
    line-height: 135%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .mobile__img {
    background-image: url(../img/players-mobile.png);
    height: 212.56px;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 24.44px;
  }
  
  .mobile__title2 {
    max-width: 335px;
    color: rgb(49, 49, 49);
    font-size: 28px;
    font-weight: 400;
    line-height: 135%;
    text-align: left;
    text-transform: uppercase;
  }

  .mobile__idea {
    font-weight: 700;
    color: rgb(245, 73, 50);
  }
  
}










@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
