@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'),
      url('../fonts/Merriweather-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'),
      url('../fonts/GolosText-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'),
      url('../fonts/GolosText-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Merriweather';
  src: local('Merriweather'),
      url('../fonts/Merriweather-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Golos Text';
  src: local('Golos Text'),
      url('../fonts/GolosText-DemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: 'Merriweather', serif;
  width: 100%;
}

.container {
  width: 1222px;
  margin: 0 auto;
}

.header {
  min-height: 700px;
  background: url(../img/header-bg.png) center / cover no-repeat;
  padding: 26px 0 132px 72px;
}

.header__logo {
  width: 245px;
  height: 36px;
  margin-bottom: 62px;
}

.header__title {
  max-width: 542px;
  color: rgb(49, 49, 49);
  font-size: 60px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.header__capital {
  margin-left: 91px;
}

.header__ball {
  margin-left: 33px;
}

.header__text {
  max-width: 542px;
  text-align: center;
  font-family: 'Golos Text', sans-serif;
  color: rgb(49, 49, 49);
  font-size: 18px;
  font-weight: 400;
  line-height: 130%;
  margin-bottom: 40px;
}

.buttons {
  display: flex;
}

.header__btn {
  display: inline-block;
  width: 263px;
  height: 72px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 66px;
  background: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  font-family: 'Golos Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  text-decoration: none;
}

.header__btn--black {
  margin-right: 16px;
}

.header__btn--black:hover {
  background: rgb(251, 206, 81);
  color: rgb(31, 31, 31);
}

.header__btn--inherit {
  background-color: inherit;
  outline: 2px solid rgb(31, 31, 31);
  color: rgb(31, 31, 31);
}

.header__btn--inherit:hover {
  background: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
}

.rows {
  min-height: 60px;
  margin-top: -60px;
  background-color: rgb(245, 73, 50);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.rows__list {
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  animation: marquee 30s linear infinite;
}

.rows__item {
  display: inline-block;
  color: rgb(255, 255, 255);
  font-size: 22px;
  font-weight: 400;
  line-height: 110%;
  text-transform: uppercase;
  margin-right: 30px;
  position: relative;
}

.rows__item::after {
  position: absolute;
  content: "";
  width: 6px;
  height: 6px;
  background: rgb(255, 255, 255);
  border-radius: 50%;
  top: 10px;
  left: -19px;
}

.support {
  min-height: 366px;
  padding-left: 72px;
  padding-right: 72px;
}

.support__blocks {
  padding-top: 107px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 36px;
}

.support__text {
  width: 764px;
}

.support__title {
  max-width: 764px;
  font-size: 36px;
  font-weight: 700;
  line-height: 135%;
  text-align: left;
  text-transform: uppercase;
}

.support__idea {
  color: rgb(245, 73, 50);
}

.support__img {
  width: 394px;
  height: 250px;
}

.support__line {
  width: 389px;
  height: 2px;
  background-color: rgb(208, 208, 208);
}

.support-mobile {
  display: none;
}

.tournament {
  min-height: 825px;
  padding-top: 28px;
  padding-left: 72px;
  padding-right: 72px;
}

.tournament__wrapper {
  display: flex;
  justify-content: space-between;
}

.tournament__img {
  width: 474px;
  height: 527px;
  margin-right: 44px;
  position: relative;
}

.tournament__star1 {
  position: absolute;
  top: -28px;
  left: -25px;
}

.tournament__rub {
  position: absolute;
  right: 0;
  z-index: -1;
  top: 20px;
}

.tournament__player {
  position: absolute;
  z-index: 5;
  left: 80px;
  top: 90px;
}

.tournament__star2 {
  position: absolute;
  bottom: 10px;
  z-index: 6;
  left: -10px;
}

.tournament__horse {
  position: absolute;
  z-index: 7;
  bottom: 0;
  left: 70px;
}

.tournament__arm {
  position: absolute;
  z-index: 7;
  bottom: -95px;
  right: -10px;
}

.tournament__walk {
  position: absolute;
  z-index: -2;
  top: 40px;
  left: 35px;
}

.tournament__title {
  max-width: 704px;
  margin-bottom: 60px;
}

.tournament__table {
  width: 704px;
  margin-bottom: 48px;
}

.tournament__row {
  height: 56px;
}

.tournament__cell1 {
  border: 2px solid rgb(208, 208, 208);
  text-align: left;
  vertical-align: middle;
  color: rgb(49, 49, 49);
  font-family: 'Golos Text';
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  width: 306px;
  opacity: 0.7;
  border-left: none;
}

.tournament__cell2 {
  border-right: none;
  padding-left: 16px;
  border: 2px solid rgb(208, 208, 208);
  text-align: left;
  vertical-align: middle;
  color: rgb(49, 49, 49);
  font-family: 'Golos Text';
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  border-right: none;
}

.tournament__cell1--top {
  border: none;
  vertical-align: top;
}

.tournament__cell2--top {
  border-top: none;
  border-right: none;
  vertical-align: top;
}

.tournament__cell1--middle1, .tournament__cell2--middle1 {
  border-bottom: none;
}

.tournament__cell1--middle2, .tournament__cell2--middle2 {
  border-top: none;
}

.tournament__cell1--bottom, .tournament__cell2--bottom {
  border-bottom: none;
  vertical-align: bottom;
}

.tournament__row--bottom, .tournament__row--top {
  height: 40px;
}

.tournament__cross {
  position: relative;
}

.tournament__cross::after {
  content: "";
  position: absolute;
  width: 81px;
  height: 2px;
  background-color: rgb(245, 73, 50);
  left: 0;
  top: 12px;
}

.tournament__signature {
  text-align: left;
  vertical-align: bottom;
  color: rgb(48, 87, 162);
  font-family: 'Golos Text';
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.tournament-mobile {
  display: none;
}

.stages {
  min-height: 584px;
  margin-bottom: 200px;
  padding-left: 72px;
  padding-right: 72px;
  float:left;
  width: 1222px;
  position: relative;
  margin-top: -100px;
}

.stages__title {
  color: rgb(49, 49, 49);
  font-size: 54px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  text-transform: uppercase;
  max-width: 806px;
  position: relative;
  margin-bottom: 54px;
}

.stages__future {
  position: absolute;
  display: inline-block;
  color: rgb(48, 87, 162);
  font-family: 'Golos Text';
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
  max-width: 250px;
  text-transform: none;
  bottom: 12px;
  left: 300px;
}

.stages__cards {
  display: grid;
  grid-template-rows: 112px 112px 136px;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.stages__card {
  padding-left: 72px;
  padding-top: 20px;
  color: rgb(49, 49, 49);
  font-family: 'Golos Text';
  font-size: 20px;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
  background-color: #D9D9D9;
  position: relative;
}

.stages__text {
  max-width: 302px;
}

.stages__text::before {
  position: absolute;
  content: "1";
  border-radius: 50%;
  background: rgb(255, 255, 255);
  width: 36px;
  height: 36px;
  left: 20px;
  right: 338px;
  top: 20px;
  bottom: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stages__text--2::before{
  content: "2";
}

.stages__text--3::before{
  content: "3";
}

.stages__text--4::before{
  content: "4";
}

.stages__text--5::before{
  content: "5";
}
.stages__text--6::before{
  content: "6";
}
.stages__text--7::before{
  content: "7";
}

.stages__card--1 {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.stages__card--2 {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.stages__card--3 {
  grid-column: 3 / -1;
  grid-row: 1 / 3;
}

.stages__card--4 {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.stages__card--5 {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.stages__card--6 {
  grid-column: 1 / 2;
  grid-row: 3 / -1;
}

.stages__card--7 {
  grid-column: 2 / -1;
  grid-row: 3 / -1;
}

.stages__text--7 {
  max-width: 446px;
}

.stages__text--5 {
  max-width: 250px;
}

.stages__aeroplan {
  position: absolute;
  bottom: -5px;
  right: 10px;
}

.stages-mobile {
  display: none;
}

.participants {
  padding-bottom: 140px;
}

.participants__wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 60px;
}

.participants__buttons {
  padding-top: 10px;
  width: 151px;
  height: 44px;
  display: flex;
  justify-content: space-between;
}

#leftBtn, #rightBtn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: rgb(49, 49, 49);
}

.participants__arrow {
  width: 16.92px;
  height: 8.46px;
}

.participants__counts {
  width: 35px;
  height: 44px;
  display: flex;
  align-items: center;
  vertical-align: middle;
  opacity: 0.6;
  color: rgb(49, 49, 49);
  font-family: 'Golos Text';
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
}

.participants__left.active,  .participants__right.active {
  opacity: 1;
}

.participants__list {
  display: flex;
}

.participants__item {
  width: 394px;
  height: 462px;
  margin-right: 20px;
  padding: 0 37px;
}

.participants__avatar {
  width: 320px;
  height: 320px;
  margin-bottom: 28px;
}

.participants__biography {
  width: 320px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.participants__player {
  color: rgb(49, 49, 49);
  font-family: 'Golos Text';
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 6px;
}

.participants__champion {
  color: rgb(49, 49, 49);
  font-family: 'Golos Text';
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
  opacity: 0.6;
  margin-bottom: 20px;
}

.participants__details {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 113px;
  height: 35px;
  border: 1px solid rgb(48, 87, 162);
  border-radius: 62px;
  text-decoration: none;
  color: rgb(48, 87, 162);
  font-family: 'Golos Text';
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
}

.participants__title-mobile {
  display: none;
}

.participants__buttons-mobile {
  display: none;
}

.footer {
  padding: 40px 0 72px;
  display: flex;
  text-align: center;
  justify-content: center;
}

.footer__text {
  opacity: 0.6;
  color: rgb(49, 49, 49);
  font-family: 'Golos Text';
  font-size: 16px;
  font-weight: 400;
  line-height: 120%;
  text-align: left;
}











@media (min-width: 1920px) {
  .header {
    padding-left: 348.5px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 336px;
  }

  .header {
    min-height: 812px;
    background: url(../img/header-bg-mobile.png) 75% / cover no-repeat;
    padding: 18px 20px 0;
  }

  .header__logo {
    width: 213px;
    height: 32px;
    margin-bottom: 40px;
  }

  .header__title {
    max-width: 335px;
    color: rgb(49, 49, 49);
    font-size: 36px;
    font-weight: 400;
    line-height: 110%;
    text-transform: uppercase;
    margin-bottom: 24px;
    text-align: left;
  }

  .header__capital {
    margin-left: 63.25px;
  }
  
  .header__ball {
    margin-left: 29px;
  }

  .header__text {
    max-width: 542px;
    text-align: left;
    font-family: 'Golos Text', sans-serif;
    color: rgb(49, 49, 49);
    font-size: 18px;
    font-weight: 400;
    line-height: 130%;
    margin-bottom: 32px;
  }

  .buttons {
    flex-direction: column;
  }

  .header__btn {
    width: 335px;
    height: 35px;
    display: inline;
    padding-top: 12px;
  }
  
  .header__btn--black {
    margin-bottom: 14px;
  }

  .header__btn--inherit {
    background-color: rgb(255, 255, 255);
    opacity: 0.9;
    color: rgb(31, 31, 31);
    outline: none;
  }

  .rows {
    min-height: 38px;
    margin-top: -38px;
  }

  .rows__list {
    animation: marquee 35s linear infinite;
  }

  .rows__item {
    font-size: 16px;
  }

  .rows__item::after {
    top: 5px;
    left: -19px;
  }

  .support {
    display: none;
  }

  .support-mobile {
    display: block;
    min-height: 634px;
    padding-top: 48px;
    padding-bottom: 21px;
  }

  .support-mobile__title1 {
    max-width: 335px;
    color: rgb(49, 49, 49);
    font-size: 28px;
    font-weight: 400;
    line-height: 135%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 24px;
  }

  .support-mobile__img {
    height: 212.56px;
    margin-bottom: 24.44px;
  }
  
  .support-mobile__title2 {
    max-width: 335px;
    color: rgb(49, 49, 49);
    font-size: 28px;
    font-weight: 400;
    line-height: 135%;
    text-align: left;
    text-transform: uppercase;
  }

  .support-mobile__idea {
    font-weight: 700;
    color: rgb(245, 73, 50);
  }

  .tournament {
    display: none;
  }

  .tournament-mobile {
    display: block;
    margin-bottom: 120px;
  }

  .tournament-mobile__player {
    margin-top: -45px;
  }

  .tournament-mobile--title {
    margin-top: -25px;
    margin-bottom: 44px;
  }

  .tournament-mobile__service {
    color: rgba(49, 49, 49);
    font-family: 'Golos Text';
    font-size: 20px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    opacity: 0.7;
    margin-bottom: 12px;
  }

  .tournament-mobile__price {
    color: rgb(49, 49, 49);
    font-family: 'Golos Text';
    max-width: 335px;
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    text-align: left;
    padding-bottom: 16px;
    border-bottom: 2px solid rgb(208, 208, 208);
    margin-bottom: 16px;
  }

  .tournament-mobile__service--together {
    padding-bottom: 16px;
    border-bottom: 2px solid rgb(208, 208, 208);
    margin-bottom: 16px;
  }

  .tournament-mobile__cop {
    display: inline;
    color: rgb(49, 49, 49);
    font-family: 'Golos Text';
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 150px;
    top: -56px;
  }

  .tournament-mobile__service--middle {
    margin-top: -20px;
  }

  .tournament-mobile__cross {
    display: inline-block;
    position: relative;
    margin-right: 12px;
  }

  .tournament-mobile__cross::after {
    position: absolute;
    left: -2px;
    top: 12px;
    content: "";
    width: 87px;
    height: 2px;
    background-color: rgb(245, 73, 50);
  }

  .tournament-mobile__price--bottom {
    margin-bottom: 40px;
  }

  .tournament-mobile__signature {
    color: rgb(48, 87, 162);
    font-family: 'Golos Text';
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
  }

  .stages {
    display: none;
  }

  .stages-mobile {
    display: block;
    margin-bottom: 120px;
  }

  .stages-mobile__title {
    max-width: 335px;
    color: rgb(49, 49, 49);
    font-size: 36px;
    font-weight: 400;
    line-height: 110%;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 12px;
  }

  .stages-mobile__subtitle {
    max-width: 335px;
    color: rgb(48, 87, 162);
    font-family: 'Golos Text';
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    text-align: left;
    margin-bottom: 20px;
  }

  .stages-mobile__aeroplan {
    position: relative;
    width: 335px;
    height: 182px;
    z-index: 2;
    bottom: -35px;
  }

  .stages-mobile__cards {
    margin-bottom: 28px;
    display: flex;
    overflow: hidden;
    width: 100%;
  }

  .stages-mobile__card {
    color: rgb(49, 49, 49);
    padding: 62px 20px 34px 72px;
    font-family: 'Golos Text';
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
    background-color: rgb(217, 217, 217);
    position: relative;
    margin-right: 20px;
    display: none;
    width: 100%;
    margin: 0 auto;
    height: 200px;
  }

  .stages-mobile__card.active {
    display: block;
  }

  .stages-mobile__text {
    margin-bottom: 28px;
    max-width: 243px;
    text-align: left;
  }

  .stages-mobile__text:last-child {
    margin-bottom: 0;
  }

  .stages-mobile__text::before {
    position: absolute;
    content: "1";
    border-radius: 50%;
    background: rgb(255, 255, 255);
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(49, 49, 49);
    font-family: 'Golos Text';
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    left: 20px;
  }

  .stages-mobile__text--2::before{
    content: "2";
  }

  .stages-mobile__text--3::before{
    content: "3";
  }

  .stages-mobile__text--4::before{
    content: "4";
  }

  .stages-mobile__text--5::before{
    content: "5";
  }

  .stages-mobile__text--6::before{
    content: "6";
  }

  .stages-mobile__text--7::before{
    content: "7";
  }

  .stages-mobile__buttons {
    width: 178px;
    height: 36px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #prevBtn, #nextBtn {
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: none;
    background-color:  rgb(49, 49, 49);
  }

  #prevBtn:hover, #nextBtn:hover {
    background-color: rgb(251, 206, 81);
  }

  .stages-mobile__circles {
    width: 74px;
    height: 10px;
    display: flex;
  }

  .stages-mobile__circle {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #D9D9D9;
  }

  .stages-mobile__circle.active {
    background-color: #313131;
  }

  .stages-mobile__circle:not(:last-child) {
    margin-right: 6px;
  }

  .participants {
    padding-bottom: 100px;
  }

  .participants__wrapper {
    display: none;
  }

  .participants__title-mobile {
    display: block;
    font-size: 36px;
    line-height: 110%;
  }

  .participants__buttons-mobile {
    display: block;
    margin: 0 auto;
    margin-top: 40px;
    align-items: center;
  }

  .participants__buttons {
    width: 129px;
    height: 36px;
    display: flex;
    justify-content: space-between;
  }

  #leftBtn, #rightBtn {
    width: 36px;
    height: 36px;
  }

  .participants__arrow {
    width: 13.85px;
    height: 6.92px;
  }

  .participants__counts {
    width: 29px;
    height: 11px;
  }

  .participants__item {
    width: 335px;
    height: 388px;
  }

  .participants__avatar {
    width: 244px;
    height: 244px;
  }

  .participants__biography {
    width: 286px;
  }

  .participants__player {
    margin-bottom: 8px;
  }


}










@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
